/*Aqui esta la primera pagina*/
h1{
    font-size: 700%;
    text-align: center;
    padding-top: 70px;
}

h2{
    font-size: 400%;
    text-align: center;
}
#pag1 .btn1{
    margin-left: 85%;
    margin-top: 100px;
    
}

.textoenc{
    position: absolute;
    top: 10px;
    z-index: 1;
    left: 17%;
}

/*Aqui esta el slider primera pagina*/

.slider{
    position: absolute;
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
    background-image: cover;
    z-index: 0;
    vertical-align: top;
}
.slider ul{
    display: flex;
    padding: 0px;
    width: 400%;
    animation: cambio 20s infinite alternate;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    filter: brightness(130%);
    width: 100%;
    height: 700px;
}
@keyframes cambio{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*Aqui esta la segunda pagina*/

.flex-container{
    display:flex;
    justify-content: space-between;
    margin: 10px;
    background-color: blueviolet;
    padding: 10px;
    border: 2px solid black;
    height: 500px;  
    
}
.flex-container div{
    background: brown;
    width: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    border: 2px solid black;
    height: 300px;
}


/*
.username{
    background: rgb(147, 147, 211);
    position: relative;
    padding: 10px;
    width: 97%;    
    height: 200px;
}

.list{
    background: rgb(147, 200, 211);
    width: 93%;
    height: 200px;
}
.flex-container ul{
    display: flex;
    /*justify-content: space-between;
    position: relative;
}

.flex-container li{
    flex: auto;
    list-style: none;
}*/

